//
//  Dev.xcconfig
//  Movies
//
//  Created by Amr Salman on 23/04/2022.
//

IC_APP_DISPALY_NAME = Movies Dev
IC_APP_ICON = AppIconDevelopment
IC_APP_ID = com.iamrsalman.movies-dev
IC_CORE_ID = com.iamrsalman.movies-dev.CoreKit
IC_UIKIT_ID = com.iamrsalman.movies-dev.AppUIKit
MOVIES_DB_API_URL = https:\/\/api.themoviedb.org/3/
MOVIES_DB_APP_ID = 2e7c8fc8754509a5ee4d421b2a81367c
